@{
    ViewData["Title"] = "About Us";
}
<style>
    div {
        align-content: center;
        margin: 0 auto;
    }

    html {
        box-sizing: border-box;
        /*overflow: hidden;*/
    }

    img {
        height: 300px;
    }
    .JP{
        object-fit:cover;
        object-position: 0 70%;
    }

    .Karan {
        object-fit: cover;
        object-position: 0 25%;
    }

    .Tony {
        object-fit: cover;
        object-position: 0 50%;
    }

    .Saif {
        object-fit: cover;
        object-position: 0 15%;
    }

    .column {
        align-items: center;
        float: none;
        width: 40%;
        height:40%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
        color: black;
        background-color: white;
    }

    .card-title {
        font-weight: bold;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
    }

    .title {
        color: grey;
    }
</style>
<div class="container">
<div class="mt-4 p-5 bg-secondary text-white rounded text-center">
    <h1 class="font-weight-bold">About Us</h1>
    <p>Want to learn more about the developers behind this beautiful work of art? Well you came to the right place!</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
<h2 style="text-align:center; margin-top: 30px; font-size: 50px;" color: #474e5d> Our Team </h2>
        
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img class="JP"src="~/css/IMG_3598.jpg" alt="JP"  />
                        <div class="container">
                            <h3 style="text-align:center"> JP Kelcewski </h3>
                            <p class="card-title">CyberSecurity</p>
                            <p>JP is a third year undergraduate at the University of Cincinnati. JP currently has two Co-op terms under his belt, and is actively searching for another for Summer 2023. Current hobbies are golf, weightlifting, and naps (specifically in a hammock).</p>
                    <p class="text-muted">kelczejp@mail.uc.edu</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img class="Karan" src="/css/Karan.jpg" alt="Karan" style="width:100%" />
                        <div class="container">
                            <h3 style ="text-align:center"> Karan Patel </h3>
                            <p class="card-title">Software Development</p>
                            <p>Karan is a fourth year undergraduate at the University of Cincinnati. Karan has done 3 co-ops and will be co-oping in Spring and Summer 2023. Karan hobbies include video games, lifting, snowboarding, and basketball.</p>
                    <p class="text-muted">patel3k7@mail.uc.edu</p>
                        </div>
                    </div>
                </div>
                </div>

                <div class="row">
                <div class="column">
                    <div class="card">
                        <img class="Tony" src="/css/Tony.png" alt="Tony" style="width:100%" />
                        <div class="container">
                            <h3 style="text-align:center"> Tony Gentile </h3>
                            <p class="card-title">Software Development</p>
                            <p>Tony is a fourth year at the University of Cincinnati, originally a Computer Science major he switched to Software Development in 2019. Tony's hobbies include cooking, digital art, and programming.</p>
                            <p class="text-muted">gentilaj@mail.uc.edu</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img class="Saif" src="/css/Saif.png" alt="Saif" style="width:100%" />
                        <div class="container">
                            <h3 style="text-align:center"> Saif Bayyari </h3>
                            <p class="card-title" >CyberSecurity</p>
                            <p>JP is a third year undergraduate at the University of Cincinnati and is in search for a Co-op for Summer 2023</p>
                <p class="text-muted">kelczejp@mail.uc.edu</p>
                        </div>
                    </div>
                </div>
            </div>
</div>