@{
    ViewData["Title"] = "Why We Like Cooking";
}

<h1>Why We Like Cooking</h1>

<p> We're a bunch of college dudes that are trying to learn cooking, and we are sharing our recipes with the web! </p>

<h2> </h2>