@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <header class="jumbotron">
            <h1 class="display-4">Welcome to our recipe website!</h1>
        </header>
        <main>
            <p>Hello, and welcome to our website. In this website you will be able to create and add recipes to the website. This website is here 
               so that people have the opportunity to learn something new, get to enjoy new food, and have fun. There is a about us page if you would like
               to learn more about us, the creators of this website. There is a page that shows why we like cooking and why we combined one of our hobbies with
               creating a website, and of course there is the recipe list page which will allow you to see and add recipes.
            </p>
        </main>
    </div>
</div>
