@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="container ">
        <div class="mt-4 p-5 pb-3 bg-success text-white rounded text-center">
            <h1 class="font-weight-bold jumboTitle">Welcome to our recipe website!</h1>
            <p>We built this site to share our recipes and for you to share your recipes with us!</p>
        </div>
    </div>
    <div class="">
        <div class="row g-0 mt-5 pb-2 border-bottom border-3">
            <div class="col-md-9">
                <p style="font-size:32px; font-weight: bold;">Welcome to Group 6's Final Project for IT3047C.</p>
                <p style="font-size:24px;">
                    Our project is a recipe website where you can view the recipes we've created and add your own if you desire.
                </p>
            </div>
            <div class="col-md-3 d-flex justify-content-end pe-3 align-items-center">
                <a asp-controller="Recipe" asp-action="List" class="btn btn-success p-4" style="font-size:24px; font-weight: bold;">Check out our<br>Recipes here!</a>
            </div>
        </div>
        <div class="row g-0 mt-5 pb-2 border-bottom border-3 ">
            <div class="col-md-3 d-flex justify-content-start ps-3 align-items-center">
                <a asp-controller="Home" asp-action="AboutUs" class="btn btn-success p-4" style="font-size:24px; font-weight: bold;">Check out<br>the Team!</a>
            </div>
            <div class="col-md-9">
                <p style="font-size:32px; font-weight: bold;">Check out our team.</p>
                <p style="font-size:24px;">
                    The team behind this site consists of four members: Tony Gentile, Karan Patel, JP Kelczewski, and Saif Bayyari. You can learn more about us in the "About Us" section.
                </p>
            </div>
        </div>
        <div class="row g-0 mt-5 pb-2 border-bottom border-3">
            <div class="col-md-9">
                <p style="font-size:32px; font-weight: bold;">Why Cooking?</p>
                <p style="font-size:24px;">
                    The reason we chose cooking as our final project topic is because it's a hobby that we all share. We were all able to contribute a recipe we love to the site. To learn a little more about why we love cooking you can check out the "Why We Like Cooking" page.
                </p>
            </div>
            <div class="col-md-3 d-flex justify-content-end pe-3 align-items-center">
                <a asp-controller="Home" asp-action="Cooking" class="btn btn-success p-4" style="font-size:24px; font-weight: bold;">Come see why we<br>love Cooking!</a>
            </div>
        </div>
    </div>
</div>
